body {
    background: #f0f0f0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li,a {
    display: list-item;
    float: left;
    color: #f0f0f0;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffA500;
}

#wrap {
    min-height: 100px;
    margin-top: 10px;
    background: #a0aec0;
}

.table {
    width: 50%;
    margin: auto;
    border: 1px #1a202c solid;
}

.table tr td {
    text-align: center;
    margin: auto;
    border: 1px #1a202c solid;
}
